In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../artifacts/sentiment_analysis.csv')
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

## Preprocessing

In [3]:
data.shape

(7920, 3)

In [4]:
data.duplicated().sum()

np.int64(0)

In [5]:
data.isna().sum()

id       0
label    0
tweet    0
dtype: int64

### Text Preprocessing

In [6]:
import re
import string

convert to uppercase to lowercase

In [7]:
data['tweet'] = data['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #pregnancy test https://goo.gl/h1...
1   2      0  finally a transparant silicon case ^^ thanks t...
2   3      0  we love this! would you go? #talk #makememorie...
3   4      0  i'm wired i know i'm george i was made that wa...
4   5      1  what amazing service! apple won't even talk to...

remove links

In [8]:
data['tweet'] = data['tweet'].apply(lambda x: " ".join(re.sub(r'^https?:\/\/.*[\r\n]*', '', x, flags = re.MULTILINE) for x in x.split()))
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #pregnancy test  #android #apps #...
1   2      0  finally a transparant silicon case ^^ thanks t...
2   3      0  we love this! would you go? #talk #makememorie...
3   4      0  i'm wired i know i'm george i was made that wa...
4   5      1  what amazing service! apple won't even talk to...

remove punctuations

In [9]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

data['tweet'] = data['tweet'].apply(remove_punctuations)
data.head()

   id  label                                              tweet
0   1      0  fingerprint pregnancy test  android apps beaut...
1   2      0  finally a transparant silicon case  thanks to ...
2   3      0  we love this would you go talk makememories un...
3   4      0  im wired i know im george i was made that way ...
4   5      1  what amazing service apple wont even talk to m...

remove numbers

In [11]:
data['tweet'] = data['tweet'].str.replace('\d+', '', regex = True)

remove stopwords

In [12]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\asus\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\asus\anaconda3\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\asus\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\anaconda3\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [13]:
import nltk

In [14]:
nltk.download('stopwords', download_dir='../static/model')

[nltk_data] Downloading package stopwords to ../static/model...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [15]:
with open('../static/model/corpora/stopwords/english', 'r') as file:
    sw = file.read().splitlines()

In [16]:
sw

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [17]:
data['tweet'] = data['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [18]:
data.head()

   id  label                                              tweet
0   1      0  fingerprint pregnancy test android apps beauti...
1   2      0  finally transparant silicon case thanks uncle ...
2   3      0  love would go talk makememories unplug relax i...
3   4      0  im wired know im george made way iphone cute d...
4   5      1  amazing service apple wont even talk question ...

stemming

In [58]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [59]:
data['tweet'] = data['tweet'].apply(lambda x: " ".join(ps.stem(x) for x in x.split()))

In [60]:
data.head()

   id  label                                              tweet
0   1      0  fingerprint pregnanc test android app beauti c...
1   2      0  final transpar silicon case thank uncl yay son...
2   3      0  love would go talk makememori unplug relax iph...
3   4      0  im wire know im georg made way iphon cute dave...
4   5      1  amaz servic appl wont even talk question unles...